.lawrencium {
	background: #0f0c29; /* fallback for old browsers */
	background: -webkit-linear-gradient(
		to right,
		#24243e,
		#302b63,
		#0f0c29
	); /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(
		to right,
		#24243e,
		#302b63,
		#0f0c29
	); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.pink-flavour {
	background: #800080; /* fallback for old browsers */
	background: -webkit-linear-gradient(
		to right,
		#ffc0cb,
		#800080
	); /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(
		to right,
		#ffc0cb,
		#800080
	); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.evening-night {
	background: #005aa7; /* fallback for old browsers */
	background: -webkit-linear-gradient(
		to right,
		#fffde4,
		#005aa7
	); /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(
		to right,
		#fffde4,
		#005aa7
	); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
.celestial {
	background: #c33764; /* fallback for old browsers */
	background: -webkit-linear-gradient(
		to right,
		#1d2671,
		#c33764
	); /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(
		to right,
		#1d2671,
		#c33764
	); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
